[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pyqt6 = "*"
sounddevice = "*"
numpy = "*"
vosk = "*"
faster-whisper = "*"
requests = "*"
chromadb = "*"
pypdf = "*"

[dev-packages]
mypy = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.11"
