[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
sounddevice = "*"
numpy = "*"
vosk = "*"
faster-whisper = "*"
requests = "*"
chromadb = "*"
pypdf = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-consul = "*"
redis = "*"
httpx = "*"
resemblyzer = "*"
torch = "*"
pyautogui = {version = "*", markers = "sys_platform == 'darwin'"}
ddgs = "*"
markdown = "*"
certifi = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
playwright = "*"
ruff = "*"

[requires]
python_version = "3.11"
